# Bỏ qua thư mục chứa thư viện 
/src/vendor/

# Bỏ qua các file cấu hình hệ thống của hệ điều hành
.DS_Store
Thumbs.db

# Bỏ qua các file môi trường chứa thông tin nhạy cảm 
.env
.env.local

# Bỏ qua các file log ghi lại lỗi
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
#Bỏ qua thư mục hình ảnh nếu bạn có quá nhiều ảnh nặng
# /src/images/